<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="progress m-t-20">
          <div class="progress-bar bg-primary progress-bar-striped active"
                style="height:10px;"
                role="progressbar">
                <!-- [style.width]="getPercent" -->
          </div>
        </div>

        <div class="progress m-t-20">
          <div class="progress-bar bg-info progress-bar-striped active"
                style="height:10px;"
                role="progressbar">
                <!-- [style.width]="getPercent" -->
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <app-increasing></app-increasing>

      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increasing></app-increasing>
      </div>
    </div>
  </div>
</div>
