<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="progress m-t-20">
          <div class="progress-bar bg-primary progress-bar-striped active"
                [style.width]="getProgress1"
                style="height:10px;"
                role="progressbar">
          </div>
        </div>

        <div class="progress m-t-20">
          <div class="progress-bar bg-info progress-bar-striped active"
                [style.width]="getProgress2"
                style="height:10px;"
                role="progressbar">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <!--app-increasing [progressValue]="5"></app-increasing-->
        <app-increasing (outputValue)="progress1 = $event"
                        [progress]="progress1">
        </app-increasing>

      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increasing (outputValue)="progress2 = $event"
                        [progress]="progress2"
                        [btnClass]="'btn-info'">
        </app-increasing>
      </div>
    </div>
  </div>
</div>
